<section class="hero is-fullheight is-body-background-color">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Tome of Universal Harmony
            </h1>
            <h2 class="subtitle">
                A community-built source for knowledge. More coming soon!
            </h2>
            <h6 class="subtitle is-6">
                Want to contribute? Visit the <a href="https://github.com/cerealean/tome-of-universal-harmony"
                    target="_blank">Github page here</a>!
            </h6>
        </div>
    </div>
</section>