<div class="level">
    <input type="file" (change)="loadFile($event)" />
</div>

<div *ngIf="!isLoading">
    <div class="box" *ngFor="let item of items | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
        <article class="media">
            <figure class="media-left">
                <p class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png" crossorigin="anonymous">
                </p>
            </figure>
            <div class="media-content">
                <div class="content">

                    <div class="columns">

                        <!--Left Column-->
                        <div class="column">

                            <!--Name-->
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Name</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <p class="control is-expanded has-icons-left">
                                            <input class="input" type="text" placeholder="Name" [(ngModel)]="item.name">
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-user"></i>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!--Weight-->
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Weight</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <p class="control is-expanded has-icons-left">
                                            <input class="input" type="number" placeholder="Weight" min="0" step="1"
                                                [(ngModel)]="item.weight">
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-user"></i>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!--Right Column-->
                        <div class="column">

                            <!--Type-->
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Type</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control is-expanded">
                                            <div class="select is-fullwidth">
                                                <select [(ngModel)]="item.type">
                                                    <option [value]="itemTypes.AdventuringGear">Adventuring Gear
                                                    </option>
                                                    <option [value]="itemTypes.Ammunition">Ammunition</option>
                                                    <option [value]="itemTypes.Currency">Currency</option>
                                                    <option [value]="itemTypes.HeavyArmor">Heavy Armor</option>
                                                    <option [value]="itemTypes.MediumArmor">Medium Armor</option>
                                                    <option [value]="itemTypes.LightArmor">Light Armor</option>
                                                    <option [value]="itemTypes.MeleeWeapon">Melee Weapon</option>
                                                    <option [value]="itemTypes.RangedWeapon">Ranged Weapon</option>
                                                    <option [value]="itemTypes.WonderousItem">Wonderous Item</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Is Magic-->
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Is Magic?</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control is-expanded">
                                            <div class="select is-fullwidth">
                                                <select [(ngModel)]="item.magic">
                                                    <option [value]="1">Yes</option>
                                                    <option [value]="0">No</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                <!-- <nav class="level is-mobile">
                <div class="level-left">
                    <a class="level-item">
                        <span class="icon is-small"><i class="fas fa-reply"></i></span>
                    </a>
                    <a class="level-item">
                        <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                    </a>
                    <a class="level-item">
                        <span class="icon is-small"><i class="fas fa-heart"></i></span>
                    </a>
                </div>
            </nav> -->
            </div>
            <div class="media-right">
                <button class="delete"></button>
            </div>
        </article>
    </div>
    <div *ngIf="items.length != 0">
        <pagination-controls (pageChange)="pageChange($event)" directionLinks="true" autoHide="true" responsive="true"
            screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page"></pagination-controls>
    </div>
</div>