<div class="box">
    <div class="field">
        <label class="label">Number of Dice</label>
        <div class="control">
            <input type="number" class="input is-info" min="1" [(ngModel)]="numberOfDice" />
        </div>
    </div>
    <div class="field">
        <label class="label">Number of Sides</label>
        <div class="control">
            <input type="number" class="input is-info" min="1" [(ngModel)]="numberOfSides" />
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link" (click)="rollDie()">Roll</button>
        </div>
    </div>
    <hr />

    <section class="dice-wrapper">
        
        <app-20-sided-dice [rollClicked]="rollClicked$"></app-20-sided-dice>

        <!-- <app-dice-list [numberOfSides]="numberOfSides" [numberOfDice]="numberOfDice" [rollClicked]="rollClicked$" (afterRollEvent)="afterRoll($event)"></app-dice-list> -->
        <!-- <div class="dice">
            <ol class="die-list" *ngFor="let dieNumber of getRange(numberOfDice)"
                [class.even-roll]="(dieNumber % 2) === 0" [class.odd-roll]="(dieNumber % 2) !== 0">
                <li class="die-item" *ngFor="let dieItemNum of getRange(numberOfSides)" [attr.data-side]="dieItemNum">
                    <span class="dot" *ngFor="let dotNum of getRange(dieItemNum)"></span>
                </li>
            </ol>
        </div> -->
    </section>
</div>